* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Tajawal', sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    -webkit-box-shadow: -8px 5px 52px -17px rgba(0,0,0,0.7);
    -moz-box-shadow: -8px 5px 52px -17px rgba(0,0,0,0.7);
    box-shadow: -8px 5px 52px -17px rgba(0,0,0,0.7);
}

.left .brand {
    display: flex;

}

.left .brand:hover {
    color: #009999;
    cursor: pointer;
}

.left .brand p {
    font-size: 1.6rem;
    margin-left: .3em;
}

.left .brand i {
    font-size: 2rem;
}

.right ul {
    display: flex;
    color: #666666b9;
    list-style: none;
    margin-right: 0px;
}

.right ul:hover {
    cursor: pointer;
}

.right ul li {
    margin-right: 1.5em;
    font-size: 1.4rem;
}

.right ul li:hover {
    color: #009999;
}

.navbar .right ul li::after{
    content: '';
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: .5s;
}

.navbar .right .active::after{
    background-color: black;
    opacity: 1;
}

.video::after {
    background-color: #FF6666;
}

.navbar .right .video:hover::after {
    opacity: 1;
    cursor: pointer;
}

.navbar .right .about::after {
    background-color: #33CC66;
}

.navbar .right .about:hover::after {
    opacity: 1;
    cursor: pointer;

}

.contact::after {
    background-color: #CC66CC;
}

.navbar .right .contact:hover::after {
    opacity: 1;
    cursor: pointer;
}