.container .photo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.container .photo .image{
	margin-left: -23%;
}
.container:hover .photo{
	display: flex;
	justify-content: space-between;
}
.container img{
	width: 23%;
}