.font{
    font-weight: 700;
}
.about{
    display: flex;
    margin-top: 6em;
}

.about .left{
    width: 55%;
}

.about .right{
    width: 35%;
}
.about .left img{
    border-radius: 30px;
}

.about .right{
    margin-left: 1.5em;
}

.about .right h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.35em;
    color:#1B1036 ;
    margin-top: .5em;
}
.about .right p{
    color: #A1A1A9;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: .5em;
}

.left .legend p{
    margin-top: 0.8em;
    color:#1B1036;
    font-family: "Heebo", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.left .legend p span{
    vertical-align: middle;
}

.left .legend .number{
    color: #1B1036;
    font-size: 2.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 1130px)
{
    .about{
        flex-direction: column-reverse;
    }

    .about .left , .about .right{
        width: 100%;
    }

    .about .right{
        margin-left: 0em;
        margin-bottom: 1em;
    }

    .about .left .legend .number:nth-child(3)
    {
        margin-left: 0.2em;
    }
}

.percentage{
    background-color: #E71DA3;
    width: 70%;
    height: 165px;
    margin-left:15em;
    border-radius: 30px;
}

.test{
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
}

.percentage .Lessons{
    position: relative;
    top: 1.3em;
    left: 1em;
}

.percentage .Lessons .Lessons-img{
   width: 50%; 
}

.percentage .Lessons .Lessons-img img{
    width: 95%; 
}

.percentage .Lessons .Lessons-par{
    position: absolute;
    color: white;
}

.percentage .Lessons .Lessons-par h4{
    font-size: 1.3rem;
    margin-top: 0.3em;
    margin-left: 1.5em;
    font-weight: 700;
}

.percentage .Lessons .Lessons-par h2{
    font-size: 3rem;
    margin-left: 0.2em;
    margin-top: -2.8em;
}