* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgba(0, 128, 0, 0.089);*/ 
    
}
body {
    font-family: 'Heebo', sans-serif;

}
.text_Popular
{
    
   text-align: center;
    width: 100%;
    justify-content: center;
    padding: 120px 0px 50px 0px;
    display: block;
     
}
.text_Popular h5
{
    color: #E71DA3;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;

}
.text_Popular h2
{
    color: #1b1036;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35em;
}

.all_imgs
{
    width: 100%;
    border-radius: 5%;
    position: relative;
    
    
}
.position
{
   position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    margin-left:12%;
    overflow: hidden;
    flex-wrap: wrap;

}
.all_imgs .imgs 
{
    width: 33%;
    font-size: 19px;
    justify-content: space-between;
    padding-right: 11px;
    padding-left: 11px;

}
.all_imgs .imgs img
{
    
    border-radius: 18px;
    
   
}

.all_imgs .imgs .photo
{
    margin-bottom: 25px;
}



  /*  .all_imgs .imgs .text
    {
        margin:  5px ;

    }*/
.all_imgs .imgs .text
{
    margin-top: 15px;
    margin-bottom: 15px
}
.all_imgs .imgs .text h4
{
    color: #1b1036; 
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2em;
}
.all_imgs .imgs .text h5
{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 70px;
}
.all_imgs .imgs .text p
{
    
    padding: 4px 11px 4px 10px;;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    color: #E71DA3;
    display: inline;
   
   
    
    

}
.all_imgs .imgs  .s_one p
{
    background-color: #FFEBFF;
    
}
.all_imgs .imgs .s_tow p
{
    background-color: #DDFFEB;
    
}
.all_imgs .imgs .s_three p
{
    background-color: #EBEBFF;
    
}
