.elementor-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elementor-section .elementor-item {
    width: 20%;
}

.elementor-section p {
    color: var(--gray);
}

.elementor-section h2 {
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4em;
    margin: 1em 0em;
}

.elementor-section .elementor-item .img_back_ground {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementor-section .elementor-item .img_back_ground img {
    width: 45px;
    height: 45px;
}

.elementor-section .elementor-item #online {
    background-image: url(../images/path6793-3.png);
}

.elementor-section .elementor-item #home {
    background-image: url(../images/path7839.png);
}

.elementor-section .elementor-item #offlin {
    background-image: url(../images/path8223.png);
}

.elementor-section .elementor-item #special {
    background-image: url(../images/path8140.png);
}


@media only screen and (max-width: 780px) {
    .elementor-section .elementor-item {
        width: 45%;
        margin-bottom: 4em;
    }
}














header {
    display: flex;
    justify-content: space-between;
    padding: 8em 0em;
}

header .header-paragraph,
header .header-image-con {
    width: 49%;
}

header .header-image-con img {
    transform: translateX(800px);
    opacity: 0;

    animation: imageOnPageOpenAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes imageOnPageOpenAnimation {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

header .header-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4em 0em;
}

header .header-paragraph h2 {
    color: var(--title-color);
    font-size: 1.3rem;
}

header .header-paragraph h3 {
    font-size: 3.8rem;
    font-weight: 900;
    color: var(--font-color);
    line-height: 1.2;
}


header .header-paragraph .join-btn,
header .header-paragraph .contact-btn {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 0.5em;
    background-color: var(--white);
    border: 0.5px solid #bface285;
    color: var(--font-color);
    transition: 0.2s;
}


header .header-paragraph .join-btn:hover,
header .header-paragraph .contact-btn:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: rgba(60, 72, 255, 0.4) 0px 5px, rgba(60, 72, 255, 0.3) 0px 10px, rgba(60, 72, 255, 0.2) 0px 15px, rgba(60, 72, 255, 0.1) 0px 20px, rgba(60, 72, 255, 0.05) 0px 25px;
    transform: translateY(-5px);
}


@media only screen and (max-width: 870px) {
    header {
        flex-direction: column-reverse;
    }

    header .header-paragraph,
    header .header-image-con {
        width: 100%;
        text-align: center;
    }
}














.process-section {
    margin-top: 3em;
}

.process {
    text-align: center;
    padding: 2em 0em;
}

.process h3 {
    font-size: 2rem;
    color: var(--font-color);
    margin: 2rem 0rem;
}

.page-process {
    display: flex;
    background-color: #1B1036;
    justify-content: space-evenly;
    padding: 8em 4em 16em 4em;
    position: relative;
}

.page-process h2,
.page-process p {
    color: var(--white);
}

.page-process .video {
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

.page-process .video img {
    border-radius: 40px;
}

.icon-play {
    width: 100px;
    height: 100px;
    border: 4px var(--white) solid;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-play i {
    font-size: 2rem;
    color: var(--white);
    margin-left: 0.3em;
}

.page-process .blanket {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--blancket);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.page-process .blanket.active {
    display: flex;
}

.page-process .blanket iframe {
    width: 80%;
    height: 60vh;
}

.elementor-container {
    width: 70%;
    background-color: var(--color7);
    background-image: url(./../images/image.elementor-container.png);
    margin: 55em auto 10em auto;
    border-radius: 20px;


}

.elementor-row {
    display: flex;
    width: 100%;
    padding: 2em 1.5em;
}

.elementor-row div {
    text-align: right;
    width: 50%;
}

.elementor-row div button {
    padding: 15px 30px;
    background-color: var(--blue);
    font-weight: 600;
    color: var(--white);
    text-transform: capitalize;
}

.elementor-row .h2 {
    width: 50%;
    text-align: left;
    color: var(--title-color);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.35rem;
    letter-spacing: 1px;
    align-items: center
}

.courses {
    text-align: center;
    margin-bottom: 3em;
}

.courses h4 {
    color: var(--title-color);
    margin-bottom: 1em;
}

.courses h3 {
    color: var(--font-color);
    font-weight: 700;
    font-size: 2rem;
}




.perant-icons {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.frist-row {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.frist-row .elementor-wrap {
    width: 21%;
    height: 200px;
    border: .5px solid gray;
    margin-right: 2em;
    border-radius: 20px;

}

.frist-row .elementor-wrap .background-img1 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path8223.png);
    align-items: center;
}

.frist-row .elementor-wrap .background-img1 img {
    width: 45px;
    height: 45px;
}

.frist-row .elementor-wrap .background-img2 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path7839.png);
    align-items: center;
}

.frist-row .elementor-wrap .background-img2 img {
    width: 45px;
    height: 45px;
}


.frist-row .elementor-wrap .background-img3 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path8140\ \(1\).png);
    align-items: center;
}

.frist-row .elementor-wrap .background-img3 img {
    width: 45px;
    height: 45px;
}

.frist-row .elementor-wrap .background-img4 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path8223.png);
    align-items: center;
}

.frist-row .elementor-wrap .background-img4 img {
    width: 45px;
    height: 45px;
}


.last-row .elementor-wrap {
    width: 21%;
    height: 200px;
    border: .5px solid gray;
    margin-right: 2em;
    border-radius: 20px;

}

.last-row .elementor-wrap .background-img1 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path8140\ \(1\).png);
    align-items: center;
}

.last-row .elementor-wrap .background-img1 img {
    width: 45px;
    height: 45px;
}

.last-row .elementor-wrap .background-img2 {
    margin: 2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url(../images/path8140\ \(1\).png);
    align-items: center;
}

.last-row .elementor-wrap .background-img2 img {
    width: 45px;
    height: 45px;
}




















.last-row {
    display: flex;
    width: 100%;
}